
body{
  font-family:verdana;
  width:100%;
  height:100%;
}

a{
  display:inline-block;
  margin:8px;
  text-transform:capitalize;
}

a:hover{
  background-color:white;
}

.boxEl{
  margin-left:2vw;
  padding:10px 20px;
  z-index:1;
  border-radius:15px;
  box-shadow: -1px 2px 4px #2228;
}



.title{
  display:inline-block;
  margin-top:0vw;
  font-size:calc( 16px + 0.6vw );
  font-weight:bold;
  text-transform: uppercase;
  position:relative;

  /*text-decoration:underline;*/
}

/* SMALL */
@media (max-width:540px) {
  .title{
    display:block;
    text-align:center;
    margin-left:0;
  }
}

/* WIDE */
@media (min-width:540px) {
  .title{
    left:0;
  }
}


.subtitle{
  display:inline-block;
  max-width:40%;
  font-size:calc( 16px + 0.4vw );
}

.body{
  max-width:60%;
  font-size:calc( 12px + 0.4vw );
}

.bottomBox{
  position:absolute;
  bottom:0;
  margin-bottom:2vw;
  background-color:transparent;
}

.backgroundImage{
  z-index:-1;
  width:100%;
  height:100%;
  position:absolute;
  image-rendering: pixelated;
  top:0px;
  left:0px;

  object-fit:cover;

  /*
  object-fit:contain;
  background-color:black;
  */
}

.backgroundContainer{
  z-index:0;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  position:absolute;
  overflow-y:hidden;
}
