a{
  color:black;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}



/* l'élément qui contient tout le menu */

.menu_container{

  min-width:60px;
  width:5vw;
  height:100vh;

  position:fixed;
  z-index:50;
  left:0px;
  top:0px;

  background-color:#faf1eb; /* peachy cream */
  padding:0vw;
  border-radius:8px;
  overflow:hidden;
  color:#b92f; /* GOLD */
}

/* l'élément qu'on voit quand le menu est fermé
*/

.openMenuButton{
  min-width:60px;
  width:5vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:10;

  color:#b92f; /* GOLD */
  font-size:20px;
  line-height:10px;
  font-weight:bolder;
  text-align:center;

  background-color:#faf1eb; /* peachy cream */

  border-style:solid;
  border-radius:8px;
  border-color:#b92f;
  border-width:1px;
}

.openMenuButton:hover{
  color:black;
  cursor:pointer;
}

/* masque pour assombrir le reste de l'écran lorsque
le menu est ouvert.
*/

.menu_mask{
  position:fixed;
  z-index:40;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  background-color:#000c;
}

/* "portfolio de Samuel Paré-Chouinard"
*/
.menuTitle{
  font-size:calc( 16px + 0.6vw );
  font-weight:bold;
  padding-left:1vw;
  cursor:pointer;
  color:black;
}

.menuTitle:hover{
  text-decoration:underline;
}


/* "projets:"
*/
.menuSubtitle{
  margin-top:2vw;
  margin-bottom:2vw;
  padding-left:1vw;
  font-size:calc( 14px + 0.6vw );

}


/*
(c'était le style du lien vers la page principale)
.menuButton{
  color:black;
  text-decoration:underline;
}

.menuButton:hover{
  color:white;
  cursor:pointer;
}
*/

/* l'élément ou se trouvent les boutons de l'index
*/

.listArea{
  max-height:50vh;
  width:90%;
  overflow-y:scroll;
  overflow-x:hidden;

}

/*
les boutons du menu
*/

.menuLink{
  font-size:calc( 16px + 0.6vw );
  line-height:36px;
  text-decoration:underline;
  border-top-style:solid;
  border-top-width:1px;
  margin-top:1vw;
  margin-bottom:0vw;
  padding: 4px 2vw;
  width:100%;
  height:18px;
  overflow:hidden;
  position:relative;

  color: #100f;/* #faf1eb; peachy cream */
  /* text-shadow:#c7bfb9 1px 1px;  old peach cream lol */
}

.menuLink:hover{
  color:black;
  cursor:pointer;
}

.menuLink:hover .linkImg{
  opacity:0;
}

.linkText{
  position:absolute;
  display:inline;
  top:-8px;
  left:0;
  z-index:1;
  font-weight:bold;
  background-color:#fff6;
}

.linkImg{
  object-fit:cover;
  z-index=-1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}



/*
les liens en bas
*/

.extLinks{
  position:relative;
  margin-bottom:2vw;
  padding: 10px 1vw;
  font-size:calc( 14px + 0.6vw );
}
