
#navSection{
  background-color:#61a5ff;
  width:100%;
  height:8vh;
  z-index:10;
  overflow:hidden;
}

#scrollingnav{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  font-size:12vh;
}

#revealednav{
  width:100%;
  height:100%;
  display:none;
  opacity:0;
}

#navcanvas{
  position:absolute;
  top:0;
  left:0;
}

#navheaderimg{
  max-width:215px;
  position:relative;
  top:-5px;
}

#navHeader{

  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:bold;

  font-size:calc(12px + 2vh);
  line-height:12px;
  letter-spacing:2px;
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:10vw;
  margin-left:0px;

text-align:center;
display:flex;
align-items:center;
justify-content:center;

}

.navlogo{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.medNavHeader{

}
.smallerNavHeader{
  font-size:11px;
  line-height:11px;
}

#navBody{
  position:absolute;
  right:0;
  padding-right:2vw;
  top:2px;
  width:50%;
  height:100%;
  background-color:#61a5ff;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

.navButton{
  background-color:#61a5ff;
  letter-spacing:1px;
  border-left:1px solid #94b0d6;

  width:calc(180px + 0.8vh);
  height:100%;

  font-size:calc(8px + 2vh);
  line-height:calc(8px + 2vh);
  font-weight:bold;
  text-decoration-line:none;

  padding:5px;
  text-align:center;

  display:flex;
  align-items:center;
  justify-content:center;
}

.navButton:hover{
  background-color:#ddd4;
  cursor:pointer;
}


@media screen and (max-width: 600px) {


 #navSection{
   width:100%;
   justify-content:center;
 }

 .navButton{
   font-size:calc(8px + 2vw);
   line-height:calc(8px + 2vw);
 }

}
