
#navSection{
  background-color:#ffff;
  width:100%;
  height:42px;
  z-index:10;
  overflow:hidden;
}

#navcanvas{
  position:absolute;
  top:0;
  left:0;
}

#navheaderimg{
  max-width:215px;
  position:relative;
  top:-5px;
}

#navHeader{

  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:bold;
  font-size:calc(12px + 1.8vh);
  line-height:calc(6px + 1.8vh);
  letter-spacing:2px;
  position:absolute;
  left:0;
  top:0;
  height:40px;
  width:auto;
  padding: 11px 10px;
  margin-left:0px;
}



.medNavHeader{
  font-size:13px;
  line-height:13px;
}
.smallerNavHeader{
  font-size:11px;
  line-height:11px;
}

#navBody{
  position:absolute;
  right:0;
  top:2px;
  width:50%;
  height:100%;
  background-color:white;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.navButton{
  letter-spacing:1px;
  border-left:1px solid #dddf;

  width:calc(180px + 0.8vh);
  height:25px;

  font-size:calc(12px + 1.8vh);
  line-height:calc(12px + 1.8vh);
  font-weight:bold;
  text-decoration-line:none;

  padding:5px;
  text-align:center;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

.navButton:hover{
  background-color:#ddd4;
  cursor:pointer;
}


@media screen and (max-width: 600px) {
  #navBody{
    width:100%;
  }

 #navSection{
   width:100%;
   justify-content:center;
 }
 .navButton{
   margin:1vw;
   font-size:calc(8 + 0.2vw);
 }
}
