#popupsection{
  padding-bottom:15px;
  padding-left:0px;
  padding-right:0px;
  position:relative;
  background-color:#ffff;
}
.popuptitle{
  cursor:pointer;
  padding-top:15px;
  padding-bottom:15px;
  width:100vw;
  padding-left:15px;

  background-color:#e3ca9a;

  font-weight:bold;
  font-size:calc(12px + 2vh);
  line-height:calc(12px + 2vh);
  z-index:5;
}

.popupsubtitle{
  color:#333f;
  font-weight:300;
  font-size:calc(6px + 1.8vh);
  line-height:calc(6px + 1.8vh);
  margin-left:10px;
}
.popupsubtitle:hover{
  color:#cccf;
}
.popupbody{
  font-size:calc(10px + 1.6vh);
  padding:20px;
  width:100%;
  position:relative;
  left:0%;
}
.popupimg{
  object-fit:cover;
  width:90%;
  height:60vh;
  margin-left:10px;
}
.popupimgcontainer{
  display:flex;

  justify-content:center;
  align-items:center;
}
.popupTopPadding{
  padding:6px;
}
.datebox{
  font-size:calc(8px + 0.6vh);
  line-height:calc(8px + 0.6vh);
  margin-left:5%;
  float:left;
}
.tags{
  font-size:calc(7px + 0.6vh);
  line-height:calc(8px + 0.6vh);
  color:#999f;
  position:relative;
  left:6px;

  font-style:italic;
}
.exitproject{
  position:absolute;
  top:10;
  right:6vw;
  font-size:40px;
  cursor:pointer;
}
.popupbodyitalic{
  font-style:italic;
  font-size:12px;
}
/* links section in popup ui */
.popupexternallinks{
  margin-left:5%;
}
/* individual link text */
.popuplink{

}


.fdInfoBox{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.fdinfosection{
  width:200px;
  padding:4px;
  color:#333f;
  font-size:calc(10px + 1.5vw);
  line-height:calc(12px + 1.6vw);
}

.fdinfosection:hover{
  color:#111f;
}

.fdinfotitle{
  font-weight:bold;
  color:#666f;
  font-size:calc(10px + 1.5vw);
}

.fdinfotitle{
  color:#333f;
}

.fdBody{
  font-size:calc(12px + 1.6vh);

}

.fdImg{
  object-fit:cover;
  width:90vw;
  height:60vh;
  margin-left:calc(-5vw - 20px);

}

.fdAudioEl{

}
