#popupsection{
  padding-bottom:15px;
  padding-left:0px;
  padding-right:0px;
  position:relative;
  background-color:#ffff;
  padding-bottom:6vh;

  }
.popuptitle{
  cursor:pointer;
  padding-top:15px;
  padding-bottom:15px;
  width:100vw;
  padding-left:15px;

  background-color:#e3ca9a;

  font-weight:bold;
  font-size:calc(12px + 2vh);
  line-height:calc(12px + 2vh);
  z-index:5;

  max-width:800px;
}

.popupsubtitle{
  color:#333f;
  font-weight:300;
  font-size:calc(6px + 1.8vh);
  line-height:calc(6px + 1.8vh);
  margin-left:10px;
}
.popupsubtitle:hover{
  color:#cccf;
}
.popupbody{

    font-size:calc(8px + 1.0vh);
    line-height:calc(10px + 1.0vh);

  width:100%;
  left:0vw;
  position:relative;
  overflow-x:hidden;
  max-width:800px;
  overflow-y:hidden;
  padding:1vw;

}
.popupimg{


  max-width:100%;
  height:60vh;
  max-width:800px;
}
.popupimgcontainer{
  left:0vw;
  width:92vw;
  height:60vh;
  top:0;
  position:relative;
  overflow:hidden;
  max-width:800px;



}

.slideshowel{

  margin-top:4vh;
  width:100%;
  height:100%;
  position:absolute;
  background-color:#eeef;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.popupTopPadding{
  padding:6px;
  padding-top:4vh;
  padding-bottom:4vh;
  background-color:#ffff;
}
.datebox{
  margin-left:0%;

  float:left;
}
.tags{
  color:#999f;
  position:relative;
  left:6px;

  font-style:italic;
}
.exitproject{
  background-color:#e3ca9a;
  position:absolute;
  top:10px;
  right:6vw;
  font-size:40px;
  cursor:pointer;
  color:#222f;
}
.exitproject:hover{
  color:#999f;
}
.popupbodyitalic{
  font-style:italic;
}
/* links section in popup ui */
.popupexternallinks{
  margin-top:6vh;
  margin-left:0%;

  padding-top:4vh;
  border-top:1px solid #eeef;
  border-radius:0.6vw 0.6vw 0vw 0vw;
}
/* individual link text */
.popuplink{

}


.fdInfoBox{

  position:relative;
  width:100%;
  overflow:hidden;
  height:30vh;
  margin-bottom:0vh;
}

.fdinfosection{

  width:40%;

  height:30vh;
  padding:2vh;
  padding-right:10%;
  color:#333f;
  background-color:#fdfdfdff;
  border-top:1px solid #eeef;
  border-left:1px solid #ddd4;
  border-radius:0.6vw 0.6vw 0vw 0vw;
}

.fdContribution{
  left:0%;
  background-color:#fdfdfdff;
  position:absolute;
}

.fdInfoBoxRight{
  background-color:#fbfbfbff;
  left:33.33%;
  position:absolute;
}

.fdCollaborators{
  background-color:#fdfdfdff;
  left:66.66%;
  position:absolute;
}

.fdinfosection:hover{

  color:#111f;
}

.fdinfotitle{
  font-weight:bold;

  color:#666f;
}

.fdinfotitle{
  color:#333f;
}

.fdBody{
  position:relative;
  width:100%;
  max-width:800px;
  padding-top:4vh;
  border-top:1px solid #eeef;
  border-radius:0.6vw 0.6vw 0vw 0vw;
}
.fdbox{
  width:100%;
  max-width:800px;
}

.fdImg{
  object-fit:cover;
  width:100%;
  height:40vh;

}

.fdAudioEl{
  margin-top:4vh;
}

@media screen and (max-width: 600px) {

  .popupimg{

    height:38vh;
  }
  .popupimgcontainer{
    height:38vh;


  }


}
