#popupsection{
  padding-bottom:15px;
  padding-left:0px;
  padding-right:0px;
  position:relative;
  background-color:#ffff;
}
.popuptitle{
  cursor:pointer;
  padding-top:15px;
  padding-bottom:15px;
  width:100vw;
  padding-left:15px;

  background-color:#e3ca9a;

  font-weight:bold;
  font-size:calc(12px + 2vh);
  line-height:calc(12px + 2vh);
  z-index:5;
}

.popupsubtitle{
  color:#333f;
  font-weight:300;
  font-size:calc(6px + 1.8vh);
  line-height:calc(6px + 1.8vh);
  margin-left:10px;
}
.popupsubtitle:hover{
  color:#cccf;
}
.popupbody{

    font-size:calc(8px + 1.2vh);
    line-height:calc(10px + 1.2vh);

  width:90vw;
  left:5vw;
  position:relative;
}
.popupimg{
  object-fit:cover;
  width:90%;
  height:50vh;
  margin-top:4vh;
  margin-left:10px;
}
.popupimgcontainer{
  display:flex;

  justify-content:center;
  align-items:center;
}
.popupTopPadding{
  padding:6px;
}
.datebox{
  margin-left:5%;
  float:left;
}
.tags{
  color:#999f;
  position:relative;
  left:6px;

  font-style:italic;
}
.exitproject{
  background-color:#e3ca9a;
  position:absolute;
  top:10;
  right:6vw;
  font-size:40px;
  cursor:pointer;
}
.popupbodyitalic{
  font-style:italic;
}
/* links section in popup ui */
.popupexternallinks{
  margin-left:5%;
}
/* individual link text */
.popuplink{

}


.fdInfoBox{

  position:relative;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.fdinfosection{
  width:200px;
  padding:4px;
  color:#333f;
}

.fdinfosection:hover{
  color:#111f;
}

.fdinfotitle{
  font-weight:bold;
  color:#666f;
}

.fdinfotitle{
  color:#333f;
}

.fdBody{
  position:relative;

}

.fdImg{
  object-fit:cover;
  width:100%;
  height:40vh;

}

.fdAudioEl{

}
