*{
  font-family:verdana;
}

body{
  background-color:#111f;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

link{
  color:#faaf;
}

.card_container{
  background-color:#9994;
  position:absolute;
  border-radius:20px;
  overflow-y:hidden;
  left:7.5vw;
  top:2.5vh;
  width:90vw;
  height:95vh;
}

.arrow{
  position:fixed;
  padding:7px 12px;

  color:#970f; /* darker GOLD */
  background-color:#faf1eb; /* peachy cream */

  font-size:calc( 14px + 0.4vw );
  font-weight:bolder;


  cursor:pointer;
  z-index:20;
  border-radius:20px;
  box-shadow: 0px 1px 1px #aaad, 2px 4px 1px #eeed, -1px 2px 4px #2228;
}

.arrow:hover{
  color:#b92f; /* GOLD */
  margin-top:2px;
  box-shadow: 0px 1px 1px #aaad, 2px 2px 1px #eeed, -1px 2px 4px #2228;
}

.disabled{
  color:#dccf;
  cursor:default;
}

.disabled:hover{
  color:#cccf;
  margin-top:0px;
  box-shadow: 0px 1px 1px #aaad, 2px 4px 1px #eeed, -1px 2px 4px #2228;
}



/*  AUDIO ELEMENT  */

.audioIcon{
  position:absolute;
  width:100%;
  height:86%;
  z-index:99;
  font-size:32px;
  left:16px;
  top:4px;
  background-color:#faf1eb; /* peachy cream */
}

.audioElement{

  font-size:18px;
  position:fixed;
  top:86px;
  right:0;
  z-index:20;
  width:220px;

  background-color:#faf1eb; /* peachy cream */

  box-shadow: -1px 2px 4px #2228;

  padding-right:4vh;
  padding-left:3vh;
  padding-top:4px;
  padding-bottom:4px;

  border-top-left-radius: 20px;
  border-bottom-left-radius:20px;

}
.playButton{
  color:#b92f; /* GOLD */
  background-color:white;
  width:500px;
  height: 26px;
  word-wrap: normal;
  overflow:hidden;
}
.playButton:hover{
  color:grey;
  cursor:pointer;
}
.sliderContainer{
}



.checkboxDiv{
  display:inline-block;
  cursor:pointer;
}

.checkboxDiv[ey]:hover::after {
  content: attr(ey);
  position:absolute;
  bottom: -10px;
  left:125px;
  font-size:10px;
  background-color:black;
  color:white;
}


#audioCheckbox{

}

#audioCheckbox:hover{
  cursor:pointer;
}

.autoplayTxt{

  font-size:12px;
  position:relative;
  bottom:2px;
  left:8px;
  margin:0 4px;
}


.autoplayTxt:hover{

}

.volumeIcon{

}

.alecoute{
  overflow:hidden;
  font-size:calc( 8px + 0.6vw );
  font-style:italic;
}

/* SLIDER */

input[type="range"] {

    margin-top:8px;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 12px;
    width: 100px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #b92f; /* GOLD */
    border: 1px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 12px;
    border: 1px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #b92f; /* GOLD */
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #b92f; /* GOLD */
}

::-ms-thumb {
    background: #fff;
    border: 1px solid #999;
    height: 40px;
    width: 12px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}
