@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:300;
  width:100%;
  height:100%;
}

.pageTitle{
    font-size:calc(20px + 1vw);
    line-height:calc(26px + 1vw);
    padding:10px;
}

.defaultBodyText{
  font-size:calc(11px + 0.75vw);
  line-height:calc(16px + 0.75vw);
}

.logoS{
  color:white;
  background-color:black;
  padding:5px;
}
indent{
  margin-left:5vw;
  position:relative;
}

.videoCredits{
  position:relative;
  left:6%;
  font-size:10px;
  color:#666f;
}


#coverSection{
  position:relative;
  width:100%;
  height:70vh;
  overflow-y:hidden;
  position:relative;
  z-index:0;
}

#coverSectionSmall{
  position:relative;
  width:100%;
  height:40vh;
  overflow-y:hidden;
  position:relative;
  z-index:0;
}

#coverVideo{
top:-200px;
object-fit:cover;
position:relative;
transform:translateY(-0px);
z-index:1;
-o-filter: blur(2px);
    filter: blur(2px);
}

#vidcontainer{
position:fixed;
z-index:-2;
top:0;
left:0;
}



#coverTitleBox{
  position:fixed;

  font-family: 'Megrim', cursive;
  font-weight:bold;
  top:0px;
  z-index:2;
  display:flex;
  flex-direction:column;
  height:100%;

  padding:10px;
  color:white;
}

.coverTitle1{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:bold;
  font-size:8vw;
  line-height:8vw;
  letter-spacing:2px;
}

.coverTitle2{
  font-family: 'Roboto', helvetica, sans-serif;
  font-size:15px;
  line-height:14px;
}
/* BANDEROLLE SECTION (about)*/
#banderolleSection{

  width:90%;
  height:200px;
  left:5%;
  position:relative;
}
#banderolleInside{
  background-color:#fffc;
  position:relative;
  width:90%;
  height:86%;
  top:7%;
  left:5%;
}


.bandImg{
  max-width:150px;
  max-height:150px;
  position:relative;
  top:6px;
  left:8px;
  box-shadow:#fff8 0px 0px 3px 3px;
  border-radius:2px;
}
#bandLeft{
width:120px;
height:160px;
float:left;
display:flex;
justify-content:center;
align-items:center;

}
#bandRight{


line-height:13px;
display:flex;
left:5px;
position:relative;
justify-content:center;
align-items:center;
flex-direction:column;
font-size:calc(6px + 0.6vw);
line-height:calc(9px + 0.6vw);
height:200px;
}
#bandRightText{
  position:relative;
  top:-12px;
  padding:6px;
  width: calc(80vw - 150px);
  background-color:#ffff;
  max-height:180px;
}
.indent{
  margin-left:35px;
}

@media screen and (max-width: 500px) {
  .bandImg{
    display:none !important;
  }
  #bandLeft{
    width:0;
  }
  #bandRight{
    width:100%;
    padding:15px;
    font-size:calc(4px + 1.1vw);
  }
  #bandRightText{
    width:100%;
  }
}

/* PAGE BODY */
#bodySection{
  background-color:#eeef;
  width:100%;
  min-height:200px;
  position:relative;

}
#subjectsContainer{
  font-size:20px;
  padding:8px;
  width:100%;
}
#subjectsBox{
  margin-top:10px;
  width:100%;
}
/*
.subjectbox{
  font-size:16px;
  padding:5px;
  background-color:white;
  width:160px;
  text-align:center;
  margin-left:10px;
}
.subjectbox:hover{
  background-color:#aaaf;
  cursor:pointer;
}
*/
.subjectbox{
  border-style:solid;
  border-width:1px;
  border-color:#dddf;
  border-radius:3px;

  width:150px;
  height:25px;

  font-size:calc(8px + 0.2vw);
  line-height:calc(9px + 0.2vw);
  text-decoration-line:none;
  margin:5px;
  padding:5px;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  background-color:white;
}

.subjectbox:hover{
  background-color:#cccf;
  cursor:pointer;
}


.selectedSubject{
  background-color:#999f;
}
#bodyContentBox{
  padding:10px;
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
}
.featurebox{
  width:200px;
  height:200px;
  background-color:white;
  margin:5px;
  border-radius:3px;
  z-index:0;
  position:relative;
}

.featureboxSmall{
  width:150px;
  height:150px;
  border-radius:3px;
}

.boxoverlay{
  position:absolute;
  color:white;
  z-index:2;
  top:0;
  left:0;
  padding:8px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}
.boxoverlay:hover{
  cursor:pointer;
}
.boxoverlayTitle{
  font-size:16px;

}
.boxoverlayBody{
  font-size:10px;
  font-style:italic;

}
#showMoreSection{


}
#showLessSection{

}
.lessmore{
  background-color:#bbbf;
  color:#444f;
  text-align:center;
  font-size:30px;
  cursor:pointer;
}
.lessmore:hover{
  color:#666f;
}
#footerSection{
  background-color:#aaaf;
  width:100%;
  height:100px;
}











/*GALLERY */

#galleryView{
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:500;
  background-color:#bbbc;
  display:none;
  position:fixed;

  flex-direction:column;
  justify-content:center;
}
#galleryImageViewer{

}
.galleryButton{
  color:black;
  font-size:8vmin;
  position:fixed;
  height:26vmin;
  width:50vmin;
  padding-top:6vmin;

}
.galleryButton:hover{
  color:grey;
}
#closeGallery{
  padding-top:0;
  text-align:right;
  right:6vmin;
  top:3vmin;


}
#galleryRightButton{
  text-align:right;
  right: 2vmin;
  top:45%;
}
#galleryLeftButton{
  text-align:left;
  left:2vmin;
  top:45%;
}

#galleryImageCounter{
  padding-top:1vmin;
  left:0;
  top:0;
}
