@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

html, body { height: 100% }

body{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:300;
  width:100%;
  height:100%;
  background-color:#dddf;

}
#viewportparent{

  position:absolute;
  left:0;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-end;
}



#viewport{
  width:100%;
  max-width:800px;
  position:relative;
  top:0vh;
  left:0;
}



.f1{
  font-size:calc(22px + 1.6vh);
  line-height:calc(26px + 1.6vh);
}

.f2{
  font-size:calc(8px + 1.2vh);
  line-height:calc(10px + 1.4vh);
}


.f3{
  font-size:calc(8px + 1.2vh);
  line-height:calc(10px + 1.2vh);
}

.f4{
  font-size:calc(6px + 0.6vh);
  line-height:calc(7px + 0.6vh);
}

.pageTitle{
  font-size:calc(22px + 1.6vh);
  line-height:calc(26px + 1.6vh);
  font-weight:bold;
  padding:10vw;
}

.logoS{
  color:white;
  background-color:black;
  text-shadow:-3px -2px 0px #666f,-6px -4px 0px #555f,-9px -6px 0px #333f,-12px -8px 0px #222f;
  padding:5px;
}
.coverlogo{
  padding: 0 2vh;
  position:absolute;

}

#logopt2{
  position:absolute;
  left: 9.5vh;
}
indent{
  margin-left:3vw;
  position:relative;
}

.videoCredits{
  position:relative;
  left:6%;
  color:#666f;
}


#coverSection{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  overflow-y:hidden;
  overflow-x:hidden;
  z-index:0;

  max-width:800px;
}

#coverSectionSmall{
  position:relative;
  width:100%;
  height:40vh;
  overflow-y:hidden;
  position:relative;
  z-index:0;

  max-width:800px;
}

#coverVideo{
  top:0px;
  left:0px;
  object-fit:cover;
  position:fixed;
  width:100%;
  height:100vh;
  transform:translateY(-0px);
  z-index:1;

  filter: brightness(0.80) contrast(0.6);

}

#vidcontainer{
  position:fixed;
  z-index:-2;
  width:100vw;
  height:100%;
  overflow-x:hidden;

  top:0;
  left:0;
}



#coverTitleBox{
  position:fixed;

  font-family: 'Megrim', cursive;
  font-weight:bold;
  top:0px;
  z-index:2;
  display:flex;
  flex-direction:column;
  height:100%;

  padding:10px;
  color:white;
}

.coverTitle1{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:bold;
  font-size:4vh;
  line-height:4vh;
  letter-spacing:2px;
}

.coverTitle2{
  font-family: 'Roboto', helvetica, sans-serif;
  font-size:2.5vh;
  line-height:2.5vh;
  position:absolute;
  top:26vh;
}
/* BANDEROLLE SECTION (about)*/
#banderolleSection{

  width:100%;
  left:0%;
  position:relative;
  background-color:#fff0;
  border-top:1px solid #ddd0;
  border-left:1px solid #ddd0;
  border-radius:0.6vw 0.6vw 0vw 0vw;

  padding-top:6vh;
  padding-bottom:4vh;

  max-width:800px;
}
#banderolleInside{

  position:relative;
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  border-radius:2px;
  border-bottom:1px solid #fff0;

  display:flex;
  flex-flow:column-reverse;

  justify-content:space-around;
  align-items:center;
}
.bandLogo{
  max-width:20vw;
  max-height:10vh;
  padding: 2vh 2vw;
}

#bandlogobox{
  display:flex;
  flex-wrap:wrap;
  align-items:flex-end;
  justify-content:center;
  width:100%;
  height:100%;
  padding:4vw;
  background-color:white;
}
.bandLogo:hover{
  background-color:#aaa8;
  cursor:pointer;
}


.bandImg{

  object-position:0% 40%;

  position:relative;
  height:24vh;
  padding:6px;
  background-color:white;

  border-radius:2px;
}
#bandLeft{
  background-color:#fdfdfdff;
  border-top:1px solid #dddf;
  border-left:1px solid #ddd4;
  border-radius:0.6vw;

  padding:4vh 4vh;
  margin-top: 4vh;
  display:flex;
  width:100%;
  justify-content:flex-start;
  align-items:center;
  max-width:800px;
}
#bandRight{

  position:relative;
  width:100%;
  height:100%;

  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color:#fff8;
  max-width:800px;
}


#bandRightText{
  position:relative;
  background-color:#ffff;
  width:100%;
  padding:2vh;
}


.indent{
  margin-left:35px;
}

@media screen and (max-width: 600px) {



}

/* PAGE BODY */
#bodySection{
  margin-top:2vh;
  background-color:#fffc;
  width:100%;
  min-height:200px;
  position:relative;

  max-width:800px;

  padding-top:2vh;
  border-top:1px solid #eeef;
  border-radius:0.6vw 0.6vw 0vw 0vw;

}
#subjectsContainer{
  padding-top:2vh;
  font-size:calc(8px + 2vh);
  font-weight:bold;
  width:100%;

}
.subjectsTitle{

  padding-left:3vw;
}
#subjectsBox{
  margin-top:4vh;
  margin-bottom:2vh;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  background-color:#ffff;

  border-top:1px solid #dddf;
  border-left:1px solid #ddd4;
  border-radius:0.6vw 0.6vw 0vw 0vw;
}
/*
.subjectbox{
font-size:16px;
padding:5px;
background-color:white;
width:160px;
text-align:center;
margin-left:10px;
}
.subjectbox:hover{
background-color:#aaaf;
cursor:pointer;
}
*/
.subjectbox{
  /*+ border-left:1px solid #dddf; */
  flex-grow: 1;
  font-size:calc(8px + 1.4vh);
  line-height:calc(8px + 1.4vh);
  letter-spacing:-0.5px;
  font-weight:300;
  text-decoration-line:none;
  margin:0px;
  padding:1.5vh;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  background-color:white;


}

.subjectbox:hover{
  background-color:#fffd;
  cursor:pointer;
}


.selectedSubject{
  background-color:#999f;
}
#bodyContentBox{
  padding:2vh 2vh;
  padding-bottom:4vh;
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
}
.featurebox{
  width:32vh;
  height:32vh;
  flex-grow: 1;
  background-color:white;
  margin:1vh;
  border-radius:3px;
  z-index:0;
  position:relative;
}

.pboximg{
  object-fit:cover;
  width:100%;
  height:18vh;
  padding:6px;
}

.featureboxSmall{
  width:22vh;
  height:37vh;
  border-radius:3px;
}

.boxoverlay{
  position:relative;
  color:black;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:14vh;
  padding:15px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow:hidden;
}
.tagz{
  color:#77cf;
  display:inline-block;
  margin:0;
  padding:0;
  position:relative;
  width:100%;
  font-weight:normal;
  /*font-style:italic;*/
  margin-bottom:8px;
  margin-top:8px;
  font-size:calc(8px + 0.6vh);
  line-height:calc(8px + 0.6vh);
}
.featurebox:hover{
  cursor:pointer;
  background-color:#fffa;
}
.boxoverlayTitle{
  margin-top:0px;
  font-size:calc(8px + 1.0vh);
  line-height:calc(8px + 1.0vh);
  font-weight:bold;
  width:100%;
}
.boxoverlayBody{
  font-size:calc(8px + 0.6vh);
  line-height:calc(8px + 0.8vh);

  overflow:hidden;
  text-align:left;
}
#showMoreSection{


}
#showLessSection{

}
.lessmore{

  padding:2vh 2vw;
  background-color:#dddf;
  color:#666f;
  text-align:center;
  font-weight:400;
  font-size:calc(6px + 2vh);
  line-height:calc(6px + 2vh);
  cursor:pointer;
  margin-top:9svh;
  max-width:800px;

  border-top:1px solid #ddd9;
  border-left:1px solid #ddd4;
  border-radius:0.6vw;
}
.lessmore:hover{
  color:#bbbf;
  background-color:#eee6;
}


#footerSection{
  width:100%;
  height:86vh;

  max-width:800px;
  margin-top:2vh;
}











/*GALLERY */

#galleryView{
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:500;
  background-color:#fffc;
  display:none;
  position:fixed;

  flex-direction:column;
  justify-content:center;
}
#galleryImageViewer{

}
.galleryButton{
  color:black;
  font-size:8vmin;
  position:fixed;
  height:26vmin;
  width:50vmin;
  font-weight:bolder;
  user-select:none;
  padding-top:6vmin;
  cursor:pointer;
}
.galleryButton:hover{
  color:gold;
}
#closeGallery{
  padding-top:0;
  text-align:right;
  right:6vmin;
  top:3vmin;


}
#galleryRightButton{
  text-align:right;
  right: 2vmin;
  top:45%;
}
#galleryLeftButton{
  text-align:left;
  left:2vmin;
  top:45%;
}

#galleryImageCounter{
  padding-top:1vmin;
  left:0;
  top:0;
}

.galleryImgIcon{
  background-position:center;
  width:100px;
  height:100px;
  display:inline-block;
  cursor:pointer;
}
.galleryImgIcon:hover{
  border-style:solid;
  border-color:black;
  filter:brightness(1.6) contrast(0.8);
}

.hidden{
  display:none;
}
