@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:300;
  width:100%;
  height:100%;
}

.f1{
  font-size:calc(22px + 1.6vh);
  line-height:calc(26px + 1.6vh);
}

.f2{
  font-size:calc(12px + 1.6vh);
  line-height:calc(16px + 1.6vh);
}


.f3{
  font-size:calc(6px + 1.6vh);
  line-height:calc(8px + 1.6vh);
}

.pageTitle{
  font-size:calc(22px + 1.6vh);
  line-height:calc(26px + 1.6vh);
  font-weight:bold;
    padding:10px;
}

.logoS{
  color:white;
  background-color:black;
  padding:5px;
}
.coverlogo{
  padding: 0 2vh;
  position:absolute;

}

#logopt2{
position:absolute;
left: 9.5vh;
}
indent{
  margin-left:3vw;
  position:relative;
}

.videoCredits{
  position:relative;
  left:6%;
  color:#666f;
}


#coverSection{
  position:relative;
  width:100%;
  height:92vh;
  overflow-y:hidden;

  z-index:0;
}

#coverSectionSmall{
  position:relative;
  width:100%;
  height:40vh;
  overflow-y:hidden;
  position:relative;
  z-index:0;
}

#coverVideo{
top:0px;
object-fit:cover;
position:relative;
transform:translateY(-0px);
z-index:1;
filter: brightness(0.30);
}

#vidcontainer{
position:fixed;
z-index:-2;
top:0;
left:0;
}



#coverTitleBox{
  position:fixed;

  font-family: 'Megrim', cursive;
  font-weight:bold;
  top:0px;
  z-index:2;
  display:flex;
  flex-direction:column;
  height:100%;

  padding:10px;
  color:white;
}

.coverTitle1{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight:bold;
  font-size:8vh;
  line-height:8vh;
  letter-spacing:2px;
}

.coverTitle2{
  font-family: 'Roboto', helvetica, sans-serif;
  font-size:2.5vh;
  line-height:2.5vh;
  position:absolute;
  top:26vh;
}
/* BANDEROLLE SECTION (about)*/
#banderolleSection{

  width:100%;
  height:80vh;
  left:0%;
  position:relative;
}
#banderolleInside{
  background-color:#ffff;
  position:relative;
  width:100%;
  height:100%;
  top:0%;
  padding:2%;
  left:0%;
}


.bandImg{
  max-width:150px;
  max-height:150px;
  position:relative;
  top:6px;
  left:8px;
  box-shadow:#fff8 0px 0px 3px 3px;
  border-radius:2px;
}
#bandLeft{
width:120px;
height:160px;
float:left;
display:flex;
justify-content:center;
align-items:center;

}
#bandRight{


display:flex;
left:5px;
position:relative;
justify-content:center;
align-items:center;
flex-direction:column;
height:200px;
}
#bandRightText{
  position:relative;
  top:-12px;
  padding:6px;
  width: calc(100vw - 150px);
  background-color:#ffff;
  max-height:180px;
}
.indent{
  margin-left:35px;
}

@media screen and (max-width: 600px) {
  .bandImg{
    display:none !important;
  }
  #bandLeft{
    width:0;
  }
  #bandRight{
    width:100%;
    padding:15px;
  }
  #bandRightText{
    width:100%;
  }


}

/* PAGE BODY */
#bodySection{
  background-color:#eeef;
  width:100%;
  min-height:200px;
  position:relative;

}
#subjectsContainer{
  padding-top:4vh;
  padding-left:10px;
  font-size:calc(12px + 2vh);

  width:100%;

}
#subjectsBox{
  padding:2vh 0px;
  width:100%;
display:flex;
flex-wrap:wrap;
}
/*
.subjectbox{
  font-size:16px;
  padding:5px;
  background-color:white;
  width:160px;
  text-align:center;
  margin-left:10px;
}
.subjectbox:hover{
  background-color:#aaaf;
  cursor:pointer;
}
*/
.subjectbox{
  border-left:1px solid #94b0d6;

  width:28vh;
  height:8vh;
  font-weight:bold;
  font-size:calc(8px + 2.0vh);
  line-height:calc(9px + 2.0vh);
  text-decoration-line:none;
  margin:0px;
  padding:2.5vh;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  background-color:white;
}

.subjectbox:hover{
  background-color:#cccf;
  cursor:pointer;
}


.selectedSubject{
  background-color:#999f;
}
#bodyContentBox{
  padding:10px;
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
}
.featurebox{
  width:30vh;
  height:30vh;
  background-color:white;
  margin:1vh;
  border-radius:3px;
  z-index:0;
  position:relative;
}

.featureboxSmall{
  width:30vh;
  height:30vh;
  border-radius:3px;
}

.boxoverlay{
  position:absolute;
  color:white;
  z-index:2;
  top:0;
  left:0;
  padding:8px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  background-color:#fff0;
}
.boxoverlay:hover{
  cursor:pointer;
  background-color:#6669;
}
.boxoverlayTitle{
  font-size:calc(10px + 1.5vh);
  font-weight:bold;
}
.boxoverlayBody{
  font-size:calc(10px + 0.6vh);
  line-height:calc(10px + 0.8vh);
  font-style:italic;

}
#showMoreSection{


}
#showLessSection{

}
.lessmore{
  padding:8vh 2vw;
  background-color:#bbbf;
  color:#444f;
  text-align:center;
  font-weight:bold;
  font-size:calc(12px + 2vh);
  line-height:calc(12px + 2vh);
  cursor:pointer;
}
.lessmore:hover{
  color:#666f;
}
#footerSection{
  background-color:#aaaf;
  width:100%;
  height:100px;
}











/*GALLERY */

#galleryView{
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:500;
  background-color:#bbbc;
  display:none;
  position:fixed;

  flex-direction:column;
  justify-content:center;
}
#galleryImageViewer{

}
.galleryButton{
  color:black;
  font-size:8vmin;
  position:fixed;
  height:26vmin;
  width:50vmin;
  padding-top:6vmin;

}
.galleryButton:hover{
  color:grey;
}
#closeGallery{
  padding-top:0;
  text-align:right;
  right:6vmin;
  top:3vmin;


}
#galleryRightButton{
  text-align:right;
  right: 2vmin;
  top:45%;
}
#galleryLeftButton{
  text-align:left;
  left:2vmin;
  top:45%;
}

#galleryImageCounter{
  padding-top:1vmin;
  left:0;
  top:0;
}
